/*
 * WPPB - Profile Builder
*/

// PROFILE
// .wppb-user-forms {
// 	margin: 50px auto;
// 	max-width: 300px;

// 	ul {
// 		list-style: none;
// 		margin: 0;
// 		padding: 0;

// 		.wppb-form-field {
// 			margin-bottom: 20px;

// 			label {
// 				display: block;
// 				font-size: 0.8rem;
// 			}

// 			.text-input {
// 				display: block;
// 				width: 100%;
// 				padding: 0.5rem;
// 				border: 2px solid #ccc;
// 				border-radius: 0.5rem;
// 			}

// 			.wppb-description-delimiter {
// 				display: block;
// 				font-size: 10px;
// 			}

// 			#pass-strength-result {
// 				display: block;
// 				font-size: 10px;

// 				&.short,
// 				&.bad {
// 					color: $danger;
// 				}
// 				&.good,
// 				&.strong {
// 					color: $success;
// 				}
// 			}
// 		}
// 	}

// 	.form-submit {
// 		color: black;

// 		.submit {
// 			width: 100%;
// 			border: none;
// 			border-radius: 100px;
// 			padding: 0.8rem;
// 		}

// 		#action {
// 			color: black;
// 		}

// 		#form_name {
// 			color: black;
// 		}

// 		input {
// 			color: black;
// 		}
// 	}

// 	#edit_profile_unspecified_nonce_field {
// 		color: black;
// 	}

// 	input {
// 		color: black;
// 	}
// }

//ALERTS
#wppb_form_general_message,
.wppb-alert,
#wppb_register_pre_form_message,
p.wppb-error {
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #6f6794;
	background: #f9f8ff;
	padding: 10px;

	img {
		display: none;
	}
}

//STRUCTURE
.doenanova_wppb_1 {
	max-width: 320px;
	margin: 50px auto;
	padding: 0 1rem;
}
.doenanova_wppb_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.doenanova_wppb_li {
	margin: 10px 0;
}
.doenanova_wppb_label {
	display: block;
	font-size: 12px;
	margin: 5px 10px;
}
.doenanova_wppb_input {
	display: block;
	border-radius: 50px;
	border: 1px solid #dfdfe0;
	padding: 10px 15px;
	width: 100%;
	font-size: 16px;

	&:focus {
		outline: none;
		border-color: #bbb;
	}
}
.doenanova_wppb_description-delimiter {
	font-size: 10px;
	text-align: center;
	display: block;
}
.doenanova_wppb_button {
	display: block;
	width: 100%;
	border: none;
	background: #efeff3;
	padding: 15px;
	font-size: 16px;
	border-radius: 500px;

	&:hover {
		background: #c9cdda;
		cursor: pointer;
	}

	&:focus {
		outline: none;
		background: #c9cdda;
	}

	&:active {
		background: #aeb4c7;
	}
}
.doenanova_wppb_img {
	display: none;
}
.doenanova_wppb_form_error {
	text-align: center;
	font-size: 10px;
	color: #b11034;
	background: #fdf6f6;
	margin: 0 20px 20px;
	padding: 10px;
	display: block;
}

//LOGIN FORM
form#loginform {
	@extend .doenanova_wppb_1;

	p.login-username,
	p.login-password {
		@extend .doenanova_wppb_li;

		label {
			@extend .doenanova_wppb_label;
		}

		input {
			@extend .doenanova_wppb_input;
		}
	}

	p.login-remember {
		text-align: center;
		font-size: 12px;

		label {
		}

		input {
		}
	}

	p.login-submit {
		input.button {
			@extend .doenanova_wppb_button;
		}
	}
}

//REGISTER FORM
form#wppb-register-user {
	@extend .doenanova_wppb_1;

	ul {
		@extend .doenanova_wppb_ul;

		li.wppb-form-field {
			@extend .doenanova_wppb_li;

			label {
				@extend .doenanova_wppb_label;

				span {
				}

				img {
					@extend .doenanova_wppb_img;
				}
			}

			input {
				@extend .doenanova_wppb_input;
			}

			span.wppb-description-delimiter {
				@extend .doenanova_wppb_description-delimiter;
			}

			#pass-strength-result {
				@extend .doenanova_wppb_description-delimiter;

				margin-bottom: 20px;

				&.short,
				&.bad {
					color: $danger;
				}
				&.good,
				&.strong {
					color: $success;
				}
			}

			span.wppb-form-error {
				@extend .doenanova_wppb_form_error;
			}
		}
	}

	p.form-submit {
		input.button {
			@extend .doenanova_wppb_button;
		}
	}
}

//EDIT PROFILE FORM
form#select_user_to_edit_form {
	@extend .doenanova_wppb_1;

	.select2-container {
		width: 100% !important;
		margin-top: 10px;
	}
}

form#wppb-edit-user {
	@extend .doenanova_wppb_1;

	ul {
		@extend .doenanova_wppb_ul;

		li.wppb-form-field {
			@extend .doenanova_wppb_li;

			label {
				@extend .doenanova_wppb_label;

				span.wppb-required {
				}

				img {
					@extend .doenanova_wppb_img;
				}
			}

			input.text-input {
				@extend .doenanova_wppb_input;
			}

			span.wppb-description-delimiter {
				@extend .doenanova_wppb_description-delimiter;
			}

			#pass-strength-result {
				@extend .doenanova_wppb_description-delimiter;

				margin-bottom: 20px;

				&.short,
				&.bad {
					color: $danger;
				}
				&.good,
				&.strong {
					color: $success;
				}
			}

			span.wppb-form-error {
				@extend .doenanova_wppb_form_error;
			}

			&.wppb-default-username {
				color: #ccc;

				input[disabled="disabled"] {
					color: #ccc;
				}
			}
		}
	}

	p.form-submit {
		input.button {
			@extend .doenanova_wppb_button;
		}
	}
}

.wppb-front-end-logout {
	text-align: center;
}
