@import "../../../../themes/Nova-2021-Theme/scss/custom-variables";
@import "../gulp/node_modules/bootstrap/scss/bootstrap";

#doenanova-wrap {
	// padding: 30px 10px;
	// margin: 0 auto;
	// max-width: 500px;

	// position: relative;

	.doenanova-page-title {
		margin-bottom: 20px;
	}

	h3.empty-notification {
		padding: 30px 50px 0;
	}
	h5.empty-notification {
		padding: 20px 50px 30px;
	}

	// TEST MODE TAG
	.stripe_is_test_mode {
		position: absolute;
		top: 5px;
		right: 10px;
	}

	.doenanova-how-to-use {
		position: absolute;
		top: 23px;
		right: 10px;
	}

	//REPORT
	.doenanova-report {
		position: absolute;
		top: 0;
		left: 10px;
	}

	#doenanova-report,
	#doenanova-how-to-use {
		display: none;
		position: absolute;
		top: 0;
		bottom: -10px;
		left: 0;
		right: 0;
		padding: 30px 10px;
		background: #fff;

		.doenanova-report-close,
		.doenanova-how-to-use {
			position: absolute;
			top: 0px;
			left: 10px;
		}
	}

	// DONATION FORM
	#form-doar {
		#amount_wrap {
			text-align: center;

			.amount_width_container {
				width: 100px;
				min-width: 100px;
				display: inline-block;

				#amount {
					display: inline-block;
					margin: 0 auto;
					font-size: 40px;
					line-height: 1.1em;
					height: auto;
					padding: 0;
					text-align: center;
					background: none;
					width: 100%;

					border-width: 0px;
					border-bottom-width: 2px;
					border-radius: 0;

					-webkit-transition: all 100ms ease-in-out;
					-moz-transition: all 100ms ease-in-out;
					-ms-transition: all 100ms ease-in-out;
					-o-transition: all 100ms ease-in-out;
					transition: all 100ms ease-in-out;

					&:focus {
						outline: none;
						box-shadow: none;
						border-bottom-color: $primary;
						-webkit-transition: all 100ms ease-in-out;
						-moz-transition: all 100ms ease-in-out;
						-ms-transition: all 100ms ease-in-out;
						-o-transition: all 100ms ease-in-out;
						transition: all 100ms ease-in-out;
					}
				}
			}

			.input-group-text {
				background: none;
				border: none;
			}
		}

		.cartoes-salvos {
			.cartoes-salvos-last-4 {
			}

			.doenanova-btn {
			}
		}
	}
	// DONATION FORM

	//RECURRING DONATIONS PAGE
	#doacoes-recorrentes {
		.dropdown-menu-div {
			display: none;
			background: $gray-100;
			padding: 20px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			margin-bottom: 10px;

			&.is-active {
				display: flex;
				flex-direction: column;
			}
		}
	}

	//AJAX
	#loadmore_recurring_donations-btn_container {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.loadmore_recurring_donations-message {
		display: none;
		text-align: center;
	}

	.delete_recurring_donation-message {
		display: none;
		text-align: center;
	}
	//AJAX

	//RECURRING DONATIONS PAGE

	//RECENT TRANSACTIONS PAGE
	#transacoes {
		@media only screen and (max-width: 460px) {
			font-size: 0.8em;
		}

		table {
			tbody {
				tr {
					td {
					}
				}
			}
		}
	}

	//AJAX
	#loadmore_recent_transactions-btn_container {
		text-align: center;
		margin-bottom: 30px;
	}
	.loadmore_recent_transactions-message {
		display: none;
		text-align: center;
	}
	//AJAX

	//RECENT TRANSACTIONS PAGE

	//SAVED CARDS PAGE

	#cartoes {
		// Cartões salvos > Cartão de crédito
		.card {
			min-height: 180px;
			max-width: 400px;
			padding: 20px;
			border-radius: 14px;
			color: #fff;
			border: none;
		}

		.card::before {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 0;
			content: "";
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
			border-radius: 14px;
			background: $primary;
			background: linear-gradient(90deg, $primary 0%, $danger 100%);
			opacity: 0.8;
		}

		.card::after {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 0;
			content: "";
			bottom: 0;
			top: 0;
			right: 0;
			left: 0;
			border-radius: 14px;
			background: $primary;
			background: linear-gradient(90deg, $primary 0%, $danger 100%);
			clip-path: polygon(28% 13%, 48% 45%, 75% 63%, 100% 99%, 0 100%, 0% 60%, 0 0);
		}

		.upper {
			position: relative;
			z-index: 1;
		}

		.upper h6 {
			font-size: 18px;
		}

		.upper h4 {
			font-size: 15px;
			text-transform: uppercase;
		}

		.lower {
			position: relative;
			z-index: 1;
		}
	}
	//SAVED CARDS PAGE

	//DONATION RESULT PAGE
	#resultado-doacao {
		.resultado-doacao-header {
			text-align: center;

			img {
				border-radius: 200px;
				width: 100px;
				height: 101px;
				margin: 10px auto;
				display: block;
			}
			h3 {
				margin: 0;
			}
			h5 {
				margin: 0;
			}

			.notification {
			}
		}

		.resultado-doacao-footer {
			text-align: center;

			.doenanova-btn {
				margin-bottom: 20px;
			}

			small {
			}
		}
	}
	//DONATION RESULT PAGE

	//LOGIN & REGISTER LINKS
	// .login_register {
	// 	padding: 50px 0;
	// 	margin: 0 auto;
	// 	max-width: 240px;
	// 	text-align: center;

	// 	p {
	// 	}

	// 	.doenanova-btn {
	// 		margin-top: 10px;
	// 	}
	// }
}
//#doenanova-wrap

// #doe-na-nova-nav {
// 	ul {
// 		li {
// 			a {
// 				font-size: 0.8em;
// 				color: $gray-600;
// 				border-radius: 0;
// 				border: none;

// 				&:hover {
// 					background-color: $gray-200;
// 				}

// 				svg {
// 					margin-right: 5px;
// 				}

// 				&.active {
// 					background-color: $primary;
// 					color: $gray-100;
// 				}
// 			}
// 			@media only screen and (max-width: 460px) {
// 				a {
// 					font-size: 1em;

// 					span {
// 						display: none;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
